## IPL Win Probability (2008-2024)

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Load dataset
pd.set_option("display.max_columns", None)

#Matches dataset
matches = pd.read_csv("C:/Users/91831/Desktop/MLOps_Project/data/matches.csv")
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [3]:
#Delivery dataset
delivery = pd.read_csv("C:/Users/91831/Desktop/MLOps_Project/data/deliveries.csv")
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [8]:
matches.shape

(1095, 20)

In [9]:
delivery.shape

(260920, 17)

In [10]:
# Lets see total runs in each inning

total_score_df = delivery.groupby(["match_id", "inning"]).sum()['total_runs'].reset_index()
total_score_df

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

In [11]:
# Now, we will consider only the first inning of each match.
total_score_df1 = total_score_df[total_score_df['inning'] == 1]
total_score_df1

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

#### Merge matches dataframe with total_runs_df1 dataframe to get first innings scores in matches dataframe, we will leave out innings column as it is 1st innings always

In [16]:
match_df = matches.merge(total_score_df1[['match_id','total_runs']], left_on = 'id', right_on= 'match_id')
match_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [17]:
match_df.shape

(1095, 22)

Number of teams

In [21]:
match_df.team1.unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Rising Pune Supergiant',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [22]:
# We can see there are some teams like 'Rising Pune Supergiant', 'Gujarat Lions' who are not playing ipl 

teams = [
    'Royal Challengers Bengaluru',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Chennai Super Kings',
    'Sunrisers Hyderabad',
    'Delhi Capitals', 
    'Punjab Kings','Lucknow Super Giants', 'Gujarat Titans']

In [23]:
# 'Sunrisers Hyderabad' and 'Deccan Chargers' both are same teams, DD and DC, PBKS and KXIP are also the same 

match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')

Filtering the dataframe, by keeping the matches which are relevant for current prediction (remove matches of teams who are not playing ipl anymore)

In [24]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [28]:
match_df.shape

(853, 22)

In [26]:
match_df['team1'].unique()

array(['Punjab Kings', 'Delhi Capitals', 'Mumbai Indians',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [29]:
# Duckworth-Lewis-Stern (DLS) method
match_df['method'].value_counts()

method
D/L    15
Name: count, dtype: int64

15 IPL matches had results influenced by the DLS method. We will not consider matches where DLS is applied

In [30]:
match_df = match_df[match_df['method'] != 'D/L']
match_df['method'].value_counts()

Series([], Name: count, dtype: int64)

In [31]:
# extracting features from match dataset
match_df = match_df[['match_id','city','winner','total_runs']]
match_df.head()

   match_id        city                       winner  total_runs
1    335983  Chandigarh          Chennai Super Kings         240
2    335984       Delhi             Delhi Daredevils         129
3    335985      Mumbai  Royal Challengers Bangalore         165
4    335986     Kolkata        Kolkata Knight Riders         110
5    335987      Jaipur             Rajasthan Royals         166

In [35]:
# merging

delivery_df = match_df.merge(delivery, on = 'match_id')
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,1,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
1,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,2,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
2,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,3,PA Patel,B Lee,ML Hayden,1,0,1,NaN,0,NaN,NaN,NaN
3,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,4,ML Hayden,B Lee,PA Patel,0,0,0,NaN,0,NaN,NaN,NaN
4,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,5,ML Hayden,B Lee,PA Patel,4,0,4,NaN,0,NaN,NaN,NaN

In [36]:
# Now, let's consider only the second inning of each match.
delivery_df = delivery_df[delivery_df['inning'] == 2]
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,NaN,NaN,NaN
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,NaN,NaN,NaN
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,NaN,NaN,NaN

In [37]:
delivery_df.shape

(97600, 20)

In [38]:
# Lets now get current runs 
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,NaN,NaN,NaN,4
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,NaN,NaN,NaN,5
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,NaN,NaN,NaN,5

- We can see that after each ball, the number of runs scored is being counted.

In [39]:
# now we will find required runs
#required runs = total runs - current score
delivery_df['required_runs'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [43]:
# Now lets see how many balls left 

delivery_df['balls_left'] = 120 - (delivery_df['over']*6 + delivery_df['ball'])
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,required_runs,balls_left
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,NaN,NaN,NaN,4,236,119
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4,236,118
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4,236,117
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,NaN,NaN,NaN,5,235,116
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,NaN,NaN,NaN,5,235,115

In [44]:
# now lets see how many wickets are left
# If a player is out, it is recorded next to their name; otherwise, it is marked as NaN.
# We will fill nan with 0

delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,required_runs,balls_left
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,0,NaN,NaN,4,236,119
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,118
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,117
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,0,NaN,NaN,5,235,116
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,0,NaN,NaN,5,235,115

In [45]:
# Wherever there is a name, we will replace it with 1.
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: x if x == '0' else "1")

#Here,`x if x == 0` ensures that if the value is 0,it remains unchanged,and it replaces other values (names) with 1

delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

In [46]:
# lets count how many wickets have been taken

wickets= delivery_df.groupby("match_id")['player_dismissed'].cumsum().values
wickets

array([0, 0, 0, ..., 2, 2, 2])

In [48]:
# Add wickets_left column to the delivery_df dataframe

delivery_df['wickets_left'] = 10- wickets
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,required_runs,balls_left,wickets_left
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,0,NaN,NaN,4,236,119,10
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,118,10
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,117,10
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,0,NaN,NaN,5,235,116,10
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,0,NaN,NaN,5,235,115,10

In [49]:
delivery_df.shape

(97600, 24)

In [50]:
# Current run rate (crr)= runs/overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [ ]:
# required run rate:(rrr) 
delivery_df['rrr'] = (delivery_df['required_runs']*6)/delivery_df['balls_left']

124       11.899160
125       12.000000
126       12.102564
127       12.155172
128       12.260870
            ...
201576     0.295082
201577     0.200000
201578     0.101695
201579     0.000000
201580    -0.105263
Name: rrr, Length: 97600, dtype: float64

In [53]:
# If winner and batting team are same then result will be 1 esle 0
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [54]:
delivery_df['result'] = delivery_df.apply(result, axis = 1)

In [55]:
delivery_df['result'].value_counts()

result
1    49886
0    47714
Name: count, dtype: int64

In [59]:
# Now lets extract the columns that are required for our predictions
final_df = delivery_df[['batting_team','bowling_team','city','required_runs','balls_left','wickets_left','total_runs_x',
            'crr','rrr','result']]
final_df = final_df.sample(final_df.shape[0])
final_df.head()

,batting_team,bowling_team,city,required_runs,balls_left,wickets_left,total_runs_x,crr,rrr,result
189847,Chennai Super Kings,Kolkata Knight Riders,Chennai,25,33,8,137,7.724138,4.545455,1
154295,Sunrisers Hyderabad,Rajasthan Royals,Pune,196,84,7,210,2.333333,14.000000,0
129940,Royal Challengers Bangalore,Kings XI Punjab,NaN,174,87,7,206,5.818182,12.000000,0
177713,Delhi Capitals,Sunrisers Hyderabad,Delhi,82,46,8,197,9.324324,10.695652,0
67395,Mumbai Indians,Rajasthan Royals,Kolkata,54,42,9,165,8.538462,7.714286,1

In [62]:
final_df.describe()

,required_runs,balls_left,wickets_left,total_runs_x,crr,rrr,result
count,97600.000000,97600.000000,97600.000000,97600.000000,97600.000000,9.759000e+04,97600.000000
mean,93.799068,62.418770,7.488914,169.105584,7.614962,NaN,0.511127
std,51.090108,33.458865,2.171846,30.768497,2.340692,NaN,0.499879
min,-6.000000,-3.000000,0.000000,67.000000,0.000000,-inf,0.000000
25%,54.000000,34.000000,6.000000,148.000000,6.420000,7.235294e+00,0.000000
50%,93.000000,63.000000,8.000000,168.000000,7.631579,9.000000e+00,1.000000
75%,132.000000,91.000000,9.000000,188.000000,8.883117,1.125000e+01,1.000000
max,286.000000,119.000000,10.000000,287.000000,36.000000,inf,1.000000

In [63]:
final_df['crr'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [64]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city             4959
required_runs       0
balls_left          0
wickets_left        0
total_runs_x        0
crr                 0
rrr                10
result              0
dtype: int64

In [65]:
final_df.dropna(subset = ['crr'], inplace = True)

In [66]:
# In CRR, we have `inf` values. 

final_df = final_df[final_df['balls_left'] !=0]
final_df.describe()

,required_runs,balls_left,wickets_left,total_runs_x,crr,rrr,result
count,97256.000000,97256.000000,97256.000000,97256.000000,97256.000000,97256.000000,97256.000000
mean,94.061734,62.639549,7.505254,169.060079,7.613170,10.600430,0.512462
std,50.977142,33.311046,2.156232,30.772788,2.343337,14.073306,0.499847
min,-6.000000,-3.000000,0.000000,67.000000,0.000000,-462.000000,0.000000
25%,54.000000,35.000000,6.000000,148.000000,6.413793,7.230769,0.000000
50%,93.000000,63.000000,8.000000,168.000000,7.630435,9.000000,1.000000
75%,132.000000,91.000000,9.000000,188.000000,8.882353,11.213115,1.000000
max,286.000000,119.000000,10.000000,287.000000,36.000000,708.000000,1.000000

In [67]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city             4942
required_runs       0
balls_left          0
wickets_left        0
total_runs_x        0
crr                 0
rrr                 0
result              0
dtype: int64

In [68]:
# THere are null values so we will drop na values
final_df.dropna(inplace=True)

In [69]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
required_runs    0
balls_left       0
wickets_left     0
total_runs_x     0
crr              0
rrr              0
result           0
dtype: int64

## Selecting Independent and Dependent Features

In [70]:
X = final_df.iloc[:,:-1]
X.head()

,batting_team,bowling_team,city,required_runs,balls_left,wickets_left,total_runs_x,crr,rrr
189847,Chennai Super Kings,Kolkata Knight Riders,Chennai,25,33,8,137,7.724138,4.545455
154295,Sunrisers Hyderabad,Rajasthan Royals,Pune,196,84,7,210,2.333333,14.000000
177713,Delhi Capitals,Sunrisers Hyderabad,Delhi,82,46,8,197,9.324324,10.695652
67395,Mumbai Indians,Rajasthan Royals,Kolkata,54,42,9,165,8.538462,7.714286
61130,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,127,87,9,171,8.000000,8.758621

In [73]:
y = final_df['result']

#### Train test split

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 40)

#### Encoding

In [75]:
# Column transformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('categorical', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city']) 
], remainder='passthrough')

Transform the data and fit a Logistic Regression Model

In [76]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

pipe = Pipeline([
    ('transform', trf),
    ('model',LogisticRegression(solver = 'liblinear'))
])

We are using LogReg as we can get probability of winning for each team

In [89]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('transform',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('categorical',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('model', LogisticRegression(solver='liblinear'))])

In [90]:
# Predicting
y_pred = pipe.predict(X_test)
y_pred

array([0, 0, 0, ..., 1, 1, 1])

In [91]:
from sklearn.metrics import accuracy_score, classification_report
accuracy_score(y_test, y_pred)

0.8167145101012836

In [80]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.80      0.81      9000
           1       0.82      0.83      0.82      9463

    accuracy                           0.82     18463
   macro avg       0.82      0.82      0.82     18463
weighted avg       0.82      0.82      0.82     18463

In [81]:
pipe.predict_proba(X_test)   # probability of winning of each team

array([[0.63476918, 0.36523082],
       [0.90729399, 0.09270601],
       [0.6686558 , 0.3313442 ],
       ...,
       [0.41481448, 0.58518552],
       [0.0506028 , 0.9493972 ],
       [0.20000813, 0.79999187]])

In [99]:
X['city'].unique()

array(['Chennai', 'Pune', 'Delhi', 'Kolkata', 'Jaipur', 'Indore',
       'Lucknow', 'Chandigarh', 'Mumbai', 'Centurion', 'Dubai',
       'Hyderabad', 'Ahmedabad', 'Abu Dhabi', 'Bengaluru',
       'Port Elizabeth', 'Kimberley', 'Ranchi', 'Sharjah', 'East London',
       'Dharamsala', 'Johannesburg', 'Durban', 'Nagpur', 'Mohali',
       'Cuttack', 'Cape Town', 'Navi Mumbai', 'Raipur', 'Guwahati',
       'Bangalore', 'Visakhapatnam', 'Bloemfontein'], dtype=object)

In [102]:
import pickle

# Save the trained model
with open('../model/my_model.pkl', 'wb') as file:
    pickle.dump(pipe, file)